<div class="alert-box text-center" data-alert="">

	<p class="msg">

		{{#if this.failure}}

			Bummer dude, looks like the request failed.

		{{else}}

			{{this.msg}}

		{{/if}}

	</p>

	<p class="frown">:(</p>

	<a href="#" class="close">&times;</a>

</div>