<li>
	<div>Public Repos:</div>
	<div>{{this.public_repos}}</div>
</li>
<li>
	<div>Public Gists:</div>
	<div>{{this.public_gists}}</div>
</li>
<li>
	<div>Followers:</div>
	<div>{{this.followers}}</div>
</li>
<li>
	<div>Following:</div>
	<div>{{this.following}}</div>
</li>