/* Sticky footer */

$footer-margin: 20px;
$footer-height: 255px;
$total-footer-height: $footer-height + $footer-margin;

.page-wrap {

	min-height: 100%;
	margin-bottom: -$total-footer-height; 

	&::after {
		content: "";
		display: block;
	}

}

.site-footer,
.page-wrap::after {
	margin-top: $footer-margin;
	height: $footer-height; 
}

.site-footer {

	color: #fff;
	background: #000;
	overflow: hidden;
	padding: 20px;
	background: #222;
	position: relative;

	h4 {
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	.tools {

		font-size: 14px;

		a:hover {
			border-bottom: 1px dotted;
		}

	}

	.follow {

		font-size: 40px;

		li {
			line-height: 1em;
		}

	}

	.copyright {
		position: absolute;
		right: 0;
		bottom: 5px;
		left: 0;
		font-size: 12px;
	}

}