#numbers,
#repos,
.top-bar-section {
	transition: opacity 0.5s;
}

#numbers {

	.panel {
		padding-bottom: 0;
	}

	li {

		&:nth-child(n+3) {
			padding-bottom: 0;
		}

		/* By the numbers values */
		> div:last-child {
			font-size: 3rem;
		}

		@media #{$medium-up} {
			padding-bottom: 0;
		}

	}

}